@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/background.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.logo{
  background-image: url(./img//Logo_IdN.png);
  background-size: 70%;
  background-position: center;
  height: 8rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .logo{
    background-size: 30%;
    margin-top: 2rem;
    height: 17rem;
  }
}